[submodule "config"]
	path = config
	url = git@github.com:Sparkinit/initplan-translate-config.git
[submodule "utils"]
	path = utils
	url = git@github.com:Sparkinit/initplan-translate-utils.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:Sparkinit/initplan-translate-scripts.git
[submodule "rules"]
	path = rules
	url = git@github.com:Sparkinit/initplan-translate-rules.git
[submodule "origin"]
	path = origin
	url = git@github.com:Sparkinit/initplan-translate-origin.git
[submodule "agents"]
	path = agents
	url = git@github.com:Sparkinit/initplan-translate-agents.git
[submodule "tools"]
	path = tools
	url = git@github.com:Sparkinit/initplan-translate-tools.git
[submodule "app"]
	path = app
	url = git@github.com:Sparkinit/initplan-translate-app.git
